html {
	height: 100%;
	margin: 0px;
}

body {
	font-family: "Proxima Nova", "Helvetica", sans-serif;
	height: 100%;
	margin: 0px;
	width: 134in;
}

#board {
	width: 100%;
	height: 100%;
	height: 42in;
	border: 1px solid gray;
}

#title {
	position: absolute;
	top: 2in;
	left: 2in;
	font-size: 2in;
	color: #222;
	font-weight: 100;
}

#explanation {
	position: absolute;
	top: 5in;
	left: 2in;
	width: 8in;
	font-size: 0.5in;
}

.aspects {
	width: 124in;
	position: absolute;
	top: 2.75in;
	left: 15in;
}

.aspect {
	width: 18in;
	display: inline-block;
}

.aspect.form { 
	width: 48in;
}

.aspect h1 {
	font-size: 1.25in;
	color: #444;
	font-weight: 100;
}

.aspect h2 {
	font-size: 0.5in;
	margin-top: 1.1in;
	color: #555;
	font-weight: 100;
}

/*.substance {
	left: 17in;
}

.form {
	left: 28in;
}

.questioning-questions {
	left: 36.5in;
}

.keeping-score {
	left: 48in;
}

.how-we-work {
	left: 60in;
}
*/

.sticky {
	position: absolute;
	width: 3in;
	height: 3in;
	padding: 20px;
	border-radius: 3px;

	background-color: pink;
}

h1 {
	font-size: 0.35in;
	font-weight: normal;
	width: 100%;
	min-height: 30px;
	margin: 0;
}

.sticky textarea {
	border-style: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	outline: 0;
	margin: 0;
	padding: 0;
	resize: none;
}

.sticky textarea.label {
	height: 50%;
}

.sticky textarea:hover {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.sticky .delete {
	display: none;
}

.sticky:hover .delete {
	display: block;
	position: absolute;
	top: 3px;
	right: 0px;
	background: transparent;
	border-style: none;
	font-size: 20px;
	cursor: pointer;
	opacity: 0.5;
}

.sticky .source {
	position: absolute;
	bottom: 20px;
	height: auto;
	width: 90%;
	color: #666;
	font-size: 0.25in;
}

.sticky .source a {
	color: inherit;
	cursor: pointer;
}

.sticky .source div {
	vertical-align: bottom;
}

.sticky .source:hover {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	bottom: 18.5px;
}

.sticky:hover .memoContainer {
	display: block !important;
}

.sticky .memoContainer {
	width: 100%;
	background-color: #eee;
	height: 0.75in;
	position: absolute;
	top: 100%;
	left: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.sticky .memoContainer form {
	margin: 20px;
	font-size: 0.25in;
}

.sticky .memoContainer form textarea {
	font-size: 0.25in;
	height: 0.5in;
}

// HAX:
.ql-tooltip {
	white-space: normal;
}

.ql-container {
	padding: 0 !important;
	font-family: inherit !important;
	overflow: visible !important;
}

.hide-tooltip .ql-tooltip {
	display: none
}

.hidden {
	display: none;
}